<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Myntra Fashion Products</title>
    <!-- Link to Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to your external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center mb-4">
                    <h1 class="display-4">Explore Myntra</h1>
                    <p class="lead">Find the latest fashion trends</p>
                </div>
                <form method="POST" action="{{ url_for('knn_search_fn') }}" class="mb-4">
                    <div class="input-group">
                        <input type="text" id="search_query" name="search_query" class="form-control custom-input" placeholder="Search for products" required>
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </form>
                {% if error_message %}
                    <div class="alert alert-danger mt-3" role="alert">
                        {{ error_message }}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</body>
</html>
